accesibility.db
/log.txt
node_modules
cache
# files/*  # ignores all files
# files/*/  # unignores all dir
# !files/feather
# files/feather/*
# !files/gpkg
# files/gpkg/*
# !files/qgis
# files/qgis/*

# # ignores everyting that inside (recursively)
# files/** 
# # reincludes all directories
# !files/**/  
files/city_data.gpkg

frontend/.env
.env

files/city_data.gpkg
files/gpkg/isochrones.gpkg
