# .gpkg filter=lfs diff=lfs merge=lfs -text
# .geojson filter=lfs diff=lfs merge=lfs -text
# .graphml filter=lfs diff=lfs merge=lfs -text
# .feather filter=lfs diff=lfs merge=lfs -text
# .qgz filter=lfs diff=lfs merge=lfs -text
files/ filter=lfs diff=lfs merge=lfs -text

# feather files
# files/feather/isochrones/** filter=lfs diff=lfs merge=lfs -text
files/feather/isochrones/isochrones_edges_base.feather filter=lfs diff=lfs merge=lfs -text
files/feather/isochrones/isochrones_edges_base_proj.feather filter=lfs diff=lfs merge=lfs -text
files/feather/isochrones_edges.feather filter=lfs diff=lfs merge=lfs -text

# gpkg files
files/gpkg/** filter=lfs diff=lfs merge=lfs -text

# graphml files
files/pune_walk_geographic.graphml filter=lfs diff=lfs merge=lfs -text
